**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery).**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [3]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [5]:
# Write the code you need here to figure out the answer
tables = list(client.list_tables(dataset))
n=0
for table in tables:  
    n=n+1
print(n)

1

In [6]:
num_tables = 1  # Store the answer as num_tables and then run this cell

# Check your answer
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_1.hint()
#q_1.solution()

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [9]:
# Write the code to figure out the answer
table_r=dataset_ref.table("crime")
table=client.get_table(table_r)
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, (), None),
 SchemaField('case_number', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, (), None),
 SchemaField('block', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('iucr', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('primary_type', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('description', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('location_description', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, (), None),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, (), None),
 SchemaField('beat', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('district', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('ward', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('year', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('location', 'STRING', 'NULLABLE', None, (), None)]

In [10]:
num_timestamp_fields = 2# Put your answer here

# Check your answer
q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_2.hint()
#q_2.solution()

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [11]:
# Write the code here to explore the data so you can find the answer
client.list_rows(table, max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,3031,HL146245,2005-01-26 08:06:00+00:00,007XX E 103RD PL,0110,HOMICIDE,FIRST DEGREE MURDER,YARD,True,True,...,9,50,01A,1182951.0,1836489.0,2005,2022-09-18 04:45:51+00:00,41.706525,-87.605648,"(41.706525472, -87.605647981)"
1,24468,JC210939,2019-04-04 01:25:00+00:00,103XX S INDIANA AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,9,49,01A,1179414.0,1836247.0,2019,2022-09-18 04:45:51+00:00,41.705943,-87.618608,"(41.70594268, -87.618607603)"
2,2680,HK308329,2004-04-17 11:35:00+00:00,106XX S WENTWORTH AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,34,49,01A,1176839.0,1834173.0,2004,2022-09-18 04:45:51+00:00,41.700310,-87.628099,"(41.700309589, -87.628099219)"
3,20371,HP624145,2012-04-17 05:17:00+00:00,003XX W 104TH PL,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,34,49,01A,1176012.0,1835633.0,2012,2022-09-18 04:45:51+00:00,41.704335,-87.631084,"(41.704334583, -87.631083766)"
4,2014,HJ193229,2003-02-19 10:35:00+00:00,105XX S STATE ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,9,49,01A,1178113.0,1835163.0,2003,2022-08-31 04:51:30+00:00,41.702998,-87.623404,"(41.702997566, -87.62340447)"

In [13]:
fields_for_plotting = ['latitude', 'longitude'] # Put your answers here
	
# Check your answer
q_3.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_3.hint()
#q_3.solution()

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [22]:
# Scratch space for your code
client.list_rows(table, selected_fields=table.schema[15:22], max_results=15).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.

,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,1182951.0,1836489.0,2005,2022-09-18 04:45:51+00:00,41.706525,-87.605648,"(41.706525472, -87.605647981)"
1,1179414.0,1836247.0,2019,2022-09-18 04:45:51+00:00,41.705943,-87.618608,"(41.70594268, -87.618607603)"
2,1176839.0,1834173.0,2004,2022-09-18 04:45:51+00:00,41.700310,-87.628099,"(41.700309589, -87.628099219)"
3,1176012.0,1835633.0,2012,2022-09-18 04:45:51+00:00,41.704335,-87.631084,"(41.704334583, -87.631083766)"
4,1178113.0,1835163.0,2003,2022-08-31 04:51:30+00:00,41.702998,-87.623404,"(41.702997566, -87.62340447)"
5,1182698.0,1836734.0,2002,2018-02-10 03:50:01+00:00,41.707204,-87.606567,"(41.707203646, -87.606566877)"
6,1178406.0,1836224.0,2010,2018-02-10 03:50:01+00:00,41.705902,-87.622300,"(41.705902463, -87.622299502)"
7,1179522.0,1835393.0,2021,2021-09-04 04:50:52+00:00,41.703597,-87.618238,"(41.703596728, -87.618238086)"
8,1183032.0,1835158.0,2005,2018-02-28 03:56:25+00:00,41.702871,-87.605393,"(41.702871159, -87.605392565)"
9,NaN,NaN,2009,2015-08-17 03:03:40+00:00,NaN,NaN,None
10,1181403.0,1836563.0,2020,2021-11-03 04:47:56+00:00,41.706764,-87.611314,"(41.706764294, -87.611314379)"
11,1175824.0,1834632.0,2007,2018-02-28 03:56:25+00:00,41.701592,-87.631802,"(41.701591899, -87.631802048)"
12,1183354.0,1836824.0,2001,2015-08-17 03:03:40+00:00,41.707435,-87.604162,"(41.7074354, -87.604161837)"
13,1183748.0,1836011.0,2012,2018-02-10 03:50:01+00:00,41.705195,-87.602744,"(41.705195261, -87.602744276)"
14,1177433.0,1836218.0,2015,2018-02-10 03:50:01+00:00,41.705908,-87.625863,"(41.705907989, -87.625862719)"

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*